@use '../helpers' as *;

.button {
  background: none;
  border: none;

  &__icon {
    color: var(--primary-green);
    padding: rem(5);
    svg {
      fill: none;
    }

    &:hover {
      color: var(--green-hover);
    }

    &:active {
      color: var(--green-activeclick);
    }

    &--grey {
      color: var(--grey);
      svg {
        fill: currentColor;
        stroke: none;
      }
    }
  }

  &__name-icon {
    display: inline-flex;
    align-items: center;
    justify-content: start;
    column-gap: rem(8);
    color: var(--primary-green);
    font-weight: bold;

    & svg {
      stroke: none;
    }

    &:hover {
      color: var(--green-hover);
    }

    &:active {
      color: var(--green-activeclick);
    }

    &--black {
      color: var(--background-shade);

      &:hover {
        color: var(--green-activeclick);
      }

      &:active {
        color: var(--grey);
      }
    }
  }

  &__card {
    padding: rem(10) rem(30);
    border: 1px solid var(--primary-green);
    color: var(--primary-green);

    @include hover {
      color: var(--background-shade);
      border-color: var(--primary-green);
      background-color: var(--primary-green);
    }

    &:active {
      border-color: var(--green-activeclick);
      background-color: var(--green-activeclick);
    };

    &--green {
      background-color: var(--primary-green);
      color: var(--background-shade);
      font-weight: 700;

      @include hover {
        border-color: var(--green-hover);
        background-color: var(--green-hover);
      }

      &:disabled {
        background-color: var(--grey);
      }
    }


  }
}