@use '../helpers' as *;

.contact {
  width: 100%;
  padding-top: rem(60);
  padding-bottom: rem(60);

  background-image: url("./../images/contacts.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;

  @supports (background-image: url("./../images/contacts.webp")) {
    background-image: url("./../images/contacts.webp");
  }

  @supports (background-image: url("./../images/contacts.avif")) {
    background-image: url("./../images/contacts.avif");
  }

  @include tablet {
    background-position: 20% center;
  }

  &__container {
    display: flex;
    flex-direction: column;
    row-gap: rem(24);
  }

  .contact__header {
    max-width: rem(825);
    display: flex;
    flex-direction: column;
    row-gap: rem(16);
  }

  &__form {
    min-height: 300px;
    display: inline-flex;
    flex-direction: column;
    row-gap: rem(24);
    align-items: start;
  }
}