@use '../helpers' as *;

.swiper-wrapper {
  align-items: stretch;
}

.collection__swiper .swiper-slide {
  height: auto;
}

.swiper-button-prev,
.swiper-button-next {
  cursor: pointer;
}

/* Отключаем дефолтные стили стрелок Swiper */
.swiper-button-prev,
.swiper-button-next {
  background: none !important;
  color: inherit !important;
  width: auto !important;
  height: auto !important;
}

/* Полностью скрыть встроенные стрелки, если используешь свои */
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none !important;
  content: none !important;
}

/* Отменяем позиционирование */
.swiper-button-prev,
.swiper-button-next,
.swiper-pagination {
  position: static !important;
}

/* Убираем стандартные стрелки Swiper */
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.collection__controls {
  color: var(--grey);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: rem(30);
  margin-top: rem(26);
}

.swiper-button-prev,
.swiper-button-next {
  background: none;
  border: none;
  cursor: pointer;

  svg.icon {
    stroke: none;
  }

  &:hover {
    scale: 1.2;
    svg.icon {
      fill: var(--primary-green);
    }
  }

  &:active {
    scale: 1;
    svg.icon {
      fill: var(--green-activeclick);
    }
  }
}

.swiper-pagination {
  color: var(--white);
  width: auto;
  line-height: 1;
}

@include tablet {
  .swiper-pagination-bullet {
    width: rem(10);
    height: rem(10);
    border-radius: 50%;
    background-color: var(--background-shade);
    opacity: 1;

    &-active {
      background-color: var(--primary-green); // замените на нужную переменную
    }
  }
}

@include mobile {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}









