@use 'helpers' as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(16, 14);

  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--white);
  background-color: var(--background);
  max-width: 100%;
  overflow-x: hidden;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  row-gap: rem(60);
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-family: var(--family-family-accent);
  font-weight: 700;
  line-height: 1;
}

h1, .h1 {
  @include fluid-text(60, 48);
  line-height: 1;
}

h2, .h2 {
  @include fluid-text(48, 30);

  font-style: italic;
}

h3, .h3 {
  @include fluid-text(24, 20);
}

a,
button,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: rem(1) solid var(--green-focus);
  outline-offset: rem(3);
  transition-duration: 0s !important;
}

a,
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(rem(44));

      content: '';
    }
  }
}